@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050b14;
  --foreground: #e6edf3;
  --card-bg: #091322;
  --card-border: #1a2d45;
  --primary: #2972b7;
  --accent: #ff9933;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
